bleach
blinker
cryptography
flask~=2.2.2
flask-cors
flask-jwt-extended
flask-mail
flask-migrate
Flask-Security-Too
flask-sqlalchemy
mypy
phonenumbers
psycopg2-binary
pre-commit
python-dotenv
python-decouple
pyqrcode
SQLAlchemy-serializer
wikitextparser
wtforms~=3.0.1

SQLAlchemy~=1.4.42
alembic~=1.8.1
