bleach==6.0.0
blinker==1.6.2
cryptography==40.0.2
flask==2.2.3
flask-cors
flask-jwt-extended
flask-mail
flask-migrate==4.0.4
Flask-Security-Too==5.1.2
flask-sqlalchemy==3.0.3
mypy==1.2.0
psycopg2-binary==2.9.6
pre-commit==3.2.2
python-dotenv==1.0.0
python-decouple==3.8
pyqrcode
pytest==7.3.1
requests
SQLAlchemy==2.0.9
SQLAlchemy-serializer
wikitextparser
wtforms~=3.0.1
